html, body{
    font-family: 'monospace';
    color:white;
}
html{
    background-color: #be1f1a;
}
body{
    display: flex;
    flex-direction: column;
}

#return-to-home{
    font-family: monospace;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
    position: fixed;
    left: 5px;
    top: 0;
    user-select: none;
    z-index: 3;
}

#leaderboards{
    margin-top: 50px;
    display: flex;
}
#daily-leaderboard, #all-time-leaderboard{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul{
    padding: 0;
    list-style-type: none;
}

#text{
    font-size: 2em;
    text-align: center;
    padding: 25px;
    
    user-select: none; 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

@media only screen and (max-width: 800pt) {
    #return-to-home{
        font-size: 3em;
    }
    ul{
        font-size: 3em;
    }
    h2{
        font-size: 3em;
    }
    #text{
        font-size: 3em;
    }
}